<div>
  <div class="card" style="margin-left: 16px;background: #31b79ed1">
    <h2 style="margin-left: 10px;margin-bottom: 10px;"><strong style="color: aliceblue;">Today</strong></h2>
    <div  style="margin-left: 10px; display: flex;justify-content: space-around">
      <table class="table table-bordered">
        <tr>
          <th>
            <h4>No of bills generated :</h4>
          </th>
          <td>
            <h4>12</h4>
          </td>
        </tr>
        <tr>
          <th>
            <h4>Total :</h4>
          </th>
          <td>
            <h4>Rs. 12,000</h4>
          </td>
        </tr>
      </table>
      <table class="table table-bordered">
          <tr>
            <th>
              <h4>Total Discount :</h4>
            </th>
            <td>
              <h4>80</h4>
            </td>
          </tr>
        </table>
    </div>
    <br>
</div>
<br>
<div class="card" style="margin-left: 16px;background: #e4850fd4;">
  <h2 style="margin-left: 10px;margin-bottom: 10px;"><strong style="color: aliceblue;">Yesterday</strong></h2>
  <div style="margin-left: 10px; display: flex;justify-content: space-around">
    <table class="table table-bordered">
      <tr>
        <th>
          <h4>No of bills generated :</h4>
        </th>
        <td>
          <h4>80</h4>
        </td>
      </tr>
      <tr>
        <th>
          <h4>Total :</h4>
        </th>
        <td>
          <h4>Rs. 12,22,000</h4>
        </td>
      </tr>
    </table>
    <table class="table table-bordered">
      <tr>
        <th>
          <h4>Total Discount :</h4>
        </th>
        <td>
          <h4>80</h4>
        </td>
      </tr>
    </table>
  </div>
  <br>
</div>
</div>

  